@import "./constants";

body {
    margin: 0;
}

input {
    color: rgb(2, 8, 1);
}

.body-container {
    margin-top: $menu-height;
}

.buscador {
    color: green;
    width: 100%;

    label {
        color: red;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
    }
}

.contador {
    button {
        background-color: green;
        color: white;
        border-radius: 15px;
        border-width: 0px;
        padding: 16px;
        margin: 10px 40px;
        border-style: none;
        outline: none;
        cursor: grab;
    }

    :hover {
        background-color: #00a300;
    }
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: rgb(28, 48, 135);
}

label {
    color: gray;
}

input {
    border: none;
    border-bottom: 1px solid rgb(48, 102, 219);
}

.container {
    background-image: url("./src/pruebas/images/base.jpg");
    margin: auto;
    width: 80%;
    border-radius: 8%;
    display: grid;
    padding-top: 15px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    cursor: default;
    text-align: center;
    align-items: center;
    justify-content: center;

    > div {
        /* display: inline; */
        margin: 10px;
        // border: solid 10px #d3d3d3bb;
    }
}

.reloj {
    font-style: italic;
}

.hora {
    text-align: center;
}

.contenedor-reloj {
    background-color: lemonchiffon;
    margin: auto;
    width: 20%;
    border-radius: 20%;
}

.bloque1 {
    display: inline;
    width: 50%;
}

.bloque2 {
    display: inline;
    width: 50%;
}

.rojo {
    color: red;
}

.verde {
    color: green;
}

.boton-maquina {
    width: 30%;
    margin: auto;
    // align-items: center;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
}

.winner {
    margin: auto;
    text-align: center;
}

.profile {
    font-size: large;
}

.cabecera-perfil {
    font-weight: bold;
}

.loginUser {
    text-align: center;
}

button {
    background-color: rgb(255, 255, 255);
    border-color: #f6f9f9;
    color: rgb(10, 61, 90);
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #eff3f6 inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.loginButton {
    background-color: rgb(126, 193, 238);
    border-color: #3498db;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.loginButton:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.principalView {
    display: flex;
}

.typeATweet {
    flex: auto;
    text-align: center;
    background-color: #53e0f651;
    padding: 10px 0 10px 0;
}

.feedTweets {
    flex: auto;
    list-style: none;
    text-align: center;
    padding: 10px 0 10px 0;
    height: 700px;
}

.tikTakToe {
    flex: auto;
    text-align: center;
    align-items: center;
    background-color: #53e0f651;
    padding: 10px 0 10px 0;
}

.loginView {
    display: flex;
}

.principalPicture img {
    width: 90%;
    object-fit: cover;
    background-size: cover;
}

.loginUser {
    width: 50%;
    align-items: center;
    padding-top: 10%;
}
