
body {
	margin: 0;
}

input {

	color:rgb(6, 85, 160)

}

.container {
	margin-top: 3em;
}

.buscador {
	color: green;
	width: 100%;

	label {
		color: red;
	}
	
	ul {
		margin-left: auto;
		margin-right: auto;
	}
}

.contador {

	button {
		background-color: green;
		color: white;
		border-radius: 15px;
		border-width: 0px;
		padding: 16px;
		margin: 10px 40px;
		border-style: none;
		outline: none;
		cursor: grab;
	}

	:hover {
		background-color: #00a300;
	}
}

h1 {

	color:darkblue;
	text-align: center;

}

label {

	color: gray;

}

input {

	border: none;
	border-bottom: 1px solid blue

}

.container {

	background-image: url("./src/pruebas/images/base.jpg");
	margin: auto;
	width: 40%;
	border-radius: 8%;
	display: grid;
	padding-top: 15px;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	cursor: default;
	text-align: center;
	align-items: center;
	justify-content: center;

	>div {
		/* display: inline; */
		margin: 10px;
		// border: solid 10px #d3d3d3bb;
		
	}

}

.reloj {

	font-style: italic;

}

.hora {

	text-align: center;

}

.contenedor-reloj {

	background-color: lemonchiffon;
	margin: auto;
	width: 20%;
	border-radius: 20%;
	
}

.bloque1 {

	display: inline; 
	width: 	50%;

}

.bloque2 {

	display: inline; 
	width: 	50%;

}

.rojo {

	color: red;

}

.verde {

	color: green;

}

.boton-maquina {
 	width: 30%;
	margin: auto; 
	// align-items: center;
	text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}

.winner {

	margin: auto; 
	text-align: center;
}

.profile {

	font-size: large;

}

.cabecera-perfil {

	font-weight: bold;

}

.loginUser {

	text-align: center;

}

.tweetAreaPrincipal {

	text-align: center;

}
